.borderless-button,
.borderless-button:hover,
.borderless-button:focus-within {
    border: none !important;
    box-shadow: none !important;
}

.no-padding-left-segment {
    padding-left: 0 !important;
}

.white-text {
    color: white !important;
}

.data {
    white-space: pre;
}